body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.div-button:hover, button:hover {
  background-color:rgba(107, 107, 107, 0.513);
  cursor: pointer;
}

.div-button {
  width: 100%;
  height: auto;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 2px solid green;
  width: 100%;
}

.logo {
  width: 270px;
  height: auto;
}

.App {
  height: 800px;
  width: 1200px;
  border: 2px solid black;
  display: flex;

}

nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.892);
  width: 350px;
  padding: 20px;
  padding-left: 50px;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.project-list-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.nav-sub-title {
  border-bottom: 2px solid black
}

.small-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.main {
  background-color: rgb(230, 228, 228);
  width: 100%;
  height: 100%;
}

.main-section-header {
  height: 100px;
  width: 100%;
  background-color: rgb(55, 245, 55);
  margin-bottom: 50px;
}

.main-section-header > h3 {
  color: white;
  font-size: 2rem;
}

.item:hover {
  background-color: rgba(128, 128, 128, 0.556)
}

.add {
  background-color: rgb(55, 255, 0);
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.cancel {
  background-color: red;
  color: white;
  border-radius: 10px;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-new-task-button {

}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.task-list-item{
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

.dots-container {
  position: relative;
  width: 20px;
}

.dots-container:hover{
  background-color: rgb(201, 201, 201);
  cursor: pointer;
}

.options-menu {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 10px;
}

.options-menu > div:hover {
  background-color:rgb(230, 228, 228)
}